<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="franklinvasquez.ufps.platzigram">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Main3Activity"></activity>
        <activity
            android:name=".EditorActivity"
            android:launchMode="singleTask"
            android:theme="@style/EditorTheme"></activity>
        <activity android:name=".Main2Activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".VolleyActivity" />

        <activity android:name=".PostManActivity" />

        <activity
            android:name=".viem.PictureDetalActivity"
            android:parentActivityName=".viem.ContainerActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity android:name=".viem.ContainerActivity" />
        <activity
            android:name=".ReferenciaActivity"
            android:label="@string/title_activity_referencia"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".viem.CreateAccountActivity"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity android:name=".LoginActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <receiver
            android:name=".AlarmRecvr"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="franklinvasquez.ufps.platzigram.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <service
            android:name=".MyService"
            android:enabled="true"
            android:exported="true" />
    </application>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>